{
  "presets": ["@babel/preset-env", "@babel/preset-react"]
}
// { PARA NO IMPORTAR REACT EN TODOS LOS COMPONENTES
// 	"presets": [
// 			"@babel/preset-env",
// 			["@babel/preset-react", {
// 				"runtime": "automatic"
// 			}]
// 	]
// }
